<h1><%= @tour.name %></h1>
<div class="row">
  <div class="col-md-8">
    <p>Description: <%= @tour.description %></p>
    <p>City: <%= link_to @tour.city.name, city_path(@tour.city) %></p>
    <p>Categories: <%= categories_links(@tour.categories) %></p>
  </div>
  <div class="col-md-4">
    <% if @activities %>
      <% @activities.each do |activity| %>
        <p><%= link_to activity.name, tour_path(activity) %></p>
      <% end -%>
    <% else -%>
      <p>Empty</p>
    <% end -%>
  </div>
</div>
